.AboutC {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    align-items: center;
    width: 80%;
    margin: 30px auto;
    border-radius: 30px;
    backdrop-filter: blur(10px);
    background-color:rgba(0, 0, 0, 0.325);
}

.AboutH {
    font-family: 'Title';
    font-size: 45px;
    color: #383838;
    text-align: center;
    font-weight: 900;
    color: white;
}

.AboutD {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    align-items: center;
    width: 80%;
    margin: 20px auto;
    gap: 50px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    background-color:rgba(0, 0, 0, 0.325);
    box-shadow: 0px 0px 20px white;
}

.AboutP {
    text-wrap: pretty;
    box-sizing: border-box;
    font-size: 1.4em;
}

@media only screen and (max-width: 678px) {
    .AboutC {
        margin-top: -40px !important;
        border-radius: 15px !important;
        width: 95% !important;
        padding: 20px !important;
    }
    .AboutH {
        font-size: 30px !important;
        font-weight: 700;
        padding: 0px !important;
        margin: 0px !important;
    }
    .AboutD {
        margin: 10px !important;
        border-radius: 15px !important;
        width: 95% !important;
        font-size: 10px !important;
        gap: 10px !important;
        padding: 20px !important;
    }
}