.GuideC {
    background-image: url("./public/Content/Guidemap.jpg");
    background-position: center;
    background-repeat: no-repeat;
    height: 150vmax;
    width: 80%;
    margin: 0px auto;
    background-size: cover;
    border-radius: 30px;
    box-shadow: 0px 0px 20px rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
}

.level1 {
    position: absolute;
    top: 310%;
    left: 66.5%;
    font-size: 30px;
    text-decoration: none;
    backdrop-filter: blur(10px);
    background-color:rgba(0, 0, 0, 0.225);
    color: white;
    padding: 25px;
    border-radius: 50%;
    transition: all 0.3s ease;
    box-shadow: 0px 0px 20px white;
}

.level2 {
    position: absolute;
    top: 280.5%;
    left: 68.1%;
    font-size: 30px;
    text-decoration: none;
    backdrop-filter: blur(10px);
    background-color:rgba(0, 0, 0, 0.225);
    color: white;
    padding: 25px;
    border-radius: 50%;
    transition: all 0.3s ease;
    box-shadow: 0px 0px 20px white;
}

.level3 {
    position: absolute;
    top: 268%;
    left: 47.4%;
    font-size: 30px;
    text-decoration: none;
    backdrop-filter: blur(10px);
    background-color:rgba(0, 0, 0, 0.225);
    color: white;
    padding: 25px;
    border-radius: 50%;
    transition: all 0.3s ease;
    box-shadow: 0px 0px 20px white;
}

.level4 {
    position: absolute;
    top: 243%;
    left: 36.8%;
    font-size: 30px;
    text-decoration: none;
    backdrop-filter: blur(10px);
    background-color:rgba(0, 0, 0, 0.225);
    color: white;
    padding: 25px;
    border-radius: 50%;
    transition: all 0.3s ease;
    box-shadow: 0px 0px 20px white;
}

.level5 {
    position: absolute;
    top: 221.5%;
    left: 52.8%;
    font-size: 30px;
    text-decoration: none;
    backdrop-filter: blur(10px);
    background-color:rgba(0, 0, 0, 0.225);
    color: white;
    padding: 25px;
    border-radius: 50%;
    transition: all 0.3s ease;
    box-shadow: 0px 0px 20px white;
}

.level6 {
    position: absolute;
    top: 210%;
    left: 70.5%;
    font-size: 30px;
    text-decoration: none;
    backdrop-filter: blur(10px);
    background-color:rgba(0, 0, 0, 0.225);
    color: white;
    padding: 25px;
    border-radius: 50%;
    transition: all 0.3s ease;
    box-shadow: 0px 0px 20px white;
}

.level7 {
    position: absolute;
    top: 183.5%;
    left: 76.3%;
    font-size: 30px;
    text-decoration: none;
    backdrop-filter: blur(10px);
    background-color:rgba(0, 0, 0, 0.225);
    color: white;
    padding: 25px;
    border-radius: 50%;
    transition: all 0.3s ease;
    box-shadow: 0px 0px 20px white;
}

.level8 {
    position: absolute;
    top: 167%;
    left: 62%;
    font-size: 30px;
    text-decoration: none;
    backdrop-filter: blur(10px);
    background-color:rgba(0, 0, 0, 0.225);
    color: white;
    padding: 25px;
    border-radius: 50%;
    transition: all 0.3s ease;
    box-shadow: 0px 0px 20px white;
}

.level9{
    position: absolute;
    top: 159.5%;
    left: 41.5%;
    font-size: 30px;
    text-decoration: none;
    backdrop-filter: blur(10px);
    background-color:rgba(0, 0, 0, 0.225);
    color: white;
    padding: 25px;
    border-radius: 50%;
    transition: all 0.3s ease;
    box-shadow: 0px 0px 20px white;
}

.level10{
    position: absolute;
    top: 135.5%;
    left: 38.8%;
    font-size: 30px;
    text-decoration: none;
    backdrop-filter: blur(10px);
    background-color:rgba(0, 0, 0, 0.225);
    color: white;
    padding: 25px;
    border-radius: 50%;
    transition: all 0.3s ease;
    box-shadow: 0px 0px 20px white;
}

.level11{
    position: absolute;
    top: 112.5%;
    left: 53.5%;
    font-size: 30px;
    text-decoration: none;
    backdrop-filter: blur(10px);
    background-color:rgba(0, 0, 0, 0.225);
    color: white;
    padding: 25px;
    border-radius: 50%;
    transition: all 0.3s ease;
    box-shadow: 0px 0px 20px white;
}

.level12{
    position: absolute;
    top: 99.5%;
    left: 75%;
    font-size: 30px;
    text-decoration: none;
    backdrop-filter: blur(10px);
    background-color:rgba(0, 0, 0, 0.225);
    color: white;
    padding: 25px;
    border-radius: 50%;
    transition: all 0.3s ease;
    box-shadow: 0px 0px 20px white;
}

.level13{
    position: absolute;
    top: 72%;
    left: 69.8%;
    font-size: 30px;
    text-decoration: none;
    backdrop-filter: blur(10px);
    background-color:rgba(0, 0, 0, 0.225);
    color: white;
    padding: 25px;
    border-radius: 50%;
    transition: all 0.3s ease;
    box-shadow: 0px 0px 20px white;
}

.level14{
    position: absolute;
    top: 61.5%;
    left: 50%;
    font-size: 30px;
    text-decoration: none;
    backdrop-filter: blur(10px);
    background-color:rgba(0, 0, 0, 0.225);
    color: white;
    padding: 25px;
    border-radius: 50%;
    transition: all 0.3s ease;
    box-shadow: 0px 0px 20px white;
}

.level15 {
    position: absolute;
    top: 45%;
    left: 33.4%;
    font-size: 30px;
    text-decoration: none;
    backdrop-filter: blur(10px);
    background-color:rgba(0, 0, 0, 0.225);
    color: white;
    padding: 25px;
    border-radius: 50%;
    transition: all 0.3s ease; 
    box-shadow: 0px 0px 20px white;
}

.level16 {
    position: absolute;
    top: 21.7%;
    left: 47.8%;
    font-size: 30px;
    text-decoration: none;
    backdrop-filter: blur(10px);
    background-color:rgba(0, 0, 0, 0.225);
    color: white;
    padding: 25px;
    border-radius: 50%;
    transition: all 0.3s ease;
    box-shadow: 0px 0px 20px white;
}

.level1:hover, .level2:hover, .level3:hover, .level4:hover, .level5:hover, .level6:hover, .level7:hover, .level8:hover, .level9:hover, .level10:hover, .level11:hover, .level12:hover, .level13:hover, .level14:hover, .level15:hover, .level16:hover {
    scale: 1.4;
    box-shadow: 0px 0px 30px rgb(255, 255, 255);
}

@media only screen and (max-width: 678px) {
    .GuideC {
        width: 95% !important;
        margin: 0px auto !important;
        background-size: cover !important;
    }
    .level1 {
        position: absolute;
        top: 167.5% !important;
        left: 82.4% !important;
        font-size: 13px !important;
        padding: 10px !important;
    }
    .level2 {
        position: absolute;
        top: 153% !important;
        left: 82% !important;
        font-size: 13px !important;
        padding: 10px !important;
    }
    .level3 {
        position: absolute;
        top: 146.5% !important;
        left: 44.5% !important;
        font-size: 13px !important;
        padding: 10px !important;
    }
    .level4 {
        position: absolute;
        top: 133.7% !important;
        left: 22.5% !important;
        font-size: 13px !important;
        padding: 10px !important;
    }
    .level5 {
        position: absolute;
        top: 123.4% !important;
        left: 55.3% !important;
        font-size: 13px !important;
        padding: 10px !important;
    }
    .level6 {
        position: absolute;
        top: 117% !important;
        left: 83% !important;
        font-size: 13px !important;
        padding: 10px !important;
    }
    .level7 {
        position: absolute;
        top: 95.8% !important;
        left: 74.2% !important;
        font-size: 13px !important;
        padding: 10px !important;
    }
    .level8 {
        position: absolute;
        top: 92.2% !important;
        left: 32.8% !important;
        font-size: 13px !important;
        padding: 10px !important;
    }
    .level9 {
        position: absolute;
        top: 80% !important;
        left: 27.5% !important;
        font-size: 13px !important;
        padding: 10px !important;
    }
    .level10 {
        position: absolute;
        top: 68.7% !important;
        left: 56% !important;
        font-size: 13px !important;
        padding: 10px !important;
    }
    .level11{
        position: absolute;
        top: 47.8% !important;
        left: 80% !important;
        font-size: 13px !important;
        padding: 10px !important;
    }
    .level12 {
        position: absolute;
        top: 43% !important;
        left: 50% !important;
        font-size: 13px !important;
        padding: 10px !important;
    }
    .level13{
        position: absolute;
        top: 34.5% !important;
        left: 15.4% !important;
        font-size: 13px !important;
        padding: 10px !important;
    }
    .level14{
        position: absolute;
        top: 22.9% !important;
        left: 45% !important;
        font-size: 13px !important;
        padding: 10px !important;
    }
    .level15{
        display: none !important;
    }
    .level16{
        display: none !important;
    }
    .level1:hover, .level2:hover, .level3:hover, .level4:hover, .level5:hover, .level6:hover, .level7:hover, .level8:hover, .level9:hover, .level10:hover, .level11:hover, .level12:hover, .level13:hover, .level14:hover, .level15:hover, .level16:hover {
        scale: 1.2;
        box-shadow: 0px 0px 30px rgb(255, 255, 255);
    }

}