* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
  min-width: 100%;
  min-height: 100%;
  z-index: -1;  
  background-image: url("./public/Content/Background/bg3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: start;
  color: white;
}

.intro {
    display: flex;
    flex-direction: row;
    row-gap: 20px;
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 30px;
    backdrop-filter: blur(10px);
    background-color:rgba(0, 0, 0, 0.325);
}

.introL {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 40%;
    padding: 10px;
}

.introR {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 40%;
    padding: 10px;
}

.introR h1:nth-child(1) { 
    margin-top: auto;
    color: white;

}

.introR h1 {
  margin-bottom: 20px;
  color: white;
}

.GetStarted {
  padding: 15px 25px;
  border: unset;
  border-radius: 15px;
  min-width: max-content;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 20px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 0.3s ease;
  overflow: hidden;
  box-shadow: 0px 0px 20px black;
  margin-top: auto;
  margin-bottom: 5%;
  margin-right: auto;
  transition: all 0.3s ease;
  cursor: pointer;
}

.GetStarted::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1; 
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 0.3s ease;
}

.GetStarted:hover {
  transform: scale(1.1); 
  color: #e8e8e8;
  box-shadow: 0px 0px 30px rgb(255, 255, 255);
}

.GetStarted:hover::before {
  width: 100%;
}


.Quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 60px auto;
    backdrop-filter: blur(10px);
    background-color:rgba(0, 0, 0, 0.325);
    border-radius: 30px;
    padding: 30px;
}

.Quote h1 {
    color: white;
    font-size: 30px;
    margin-bottom: 20px;
}

.Quote h2 {
    margin-bottom: auto ;
    font-size: 20px;
}

.Blocks1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px auto;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 80%;
    border-radius: 30px;
    backdrop-filter: blur(10px);
    background-color:rgba(0, 0, 0, 0.325);
    padding-bottom: 30px;
}
  
.Block1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  height: auto;
  padding: 10px;
  border-radius: 10px;
  transition: 0.3s;
}

.Block1img {
  height: 200px;
  border-radius: 20px;
  margin: 10px auto;
  width: 16rem;
  box-shadow: 0 0 20px;
  transition: all 0.3s;
}

.Block1text {
  box-sizing: border-box;
  width: 16rem;
  height: 1rem;
  margin: 12px auto;
  font-family: 'Text';
  font-size: 23px;
  color: white;
  text-align: center;
  font-weight: 1000;
}

.Block1img:hover {
  scale: 1.1;
  box-shadow: 0px 0px 30px white;
}

.ServicesC{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 0px;
  width: 60%;
  margin: 60px auto 20px auto;
  border-radius: 30px;
  backdrop-filter: blur(10px);
  background-color:rgba(0, 0, 0, 0.325);
  padding: 30px;
}

.ServicesC, h1 {
  font-family: 'Title';
  font-size: 35px;
  color: #383838;
  text-align: center;
  font-weight: 900;
  color: white;
}

.ServicesC, p {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
  color: #383838;
  text-align: center;
  font-weight: 1000;
  color: white;
}

.Types {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  row-gap: 4rem;
  column-gap: 15rem;
  width: 80%;
  border-radius: 30px;
  transition: 0.3s;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  backdrop-filter: blur(10px);
  background-color:rgba(0, 0, 0, 0.325);
  padding: 30px;
}

.Type {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 200px;
  height: 250px; 
  transition: 0.2s ease-in-out;
  z-index: 0;
  margin: 20px;
}

.Type img {
  width: 200px;
  height: 300px;
  border-radius: 50%; 
  object-fit: cover; 
  box-shadow: 0px 0px 20px rgb(255, 255, 255);
  z-index: 0; 
}

.Type p {
  font-family: 'Text';
  font-size: 25px; 
  color: #ffffff;
  text-align: center;
  margin-top: 20px;
  width: 100%;
  height: 55px;
  z-index: 0;
}

.Type:hover {
  scale: 1.1;
  z-index: 0;
}

.TypesH:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 0px;
  width: 60%;
  margin: 20px auto;
  border-radius: 20px;
  font-size: 50px;
  z-index: 0;
}

.description {
    display: none; 
    position: absolute;
    background: rgb(0, 0, 0); 
    border-radius: 10px; 
    padding-left: 20px;
    padding-right: 20px;
    width: 50rem;
    height: auto;
    padding-bottom: 100px;
    z-index: 2; 
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
    top: 85%; 
    left: 50%;
    transform: translateX(-50%); 
}


.Type:hover .description {
    display: block;
}


.Type:hover ~ * {
    opacity: 0.2; 
}

.QuizC {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    align-items: center;
    width: 80%;
    margin: 60px auto;
    gap: 40px;
    border-radius: 30px;
    backdrop-filter: blur(10px);
    background-color:rgba(0, 0, 0, 0.325);
}

.QuizC h1 {
    font-family: 'Title';
    font-size: 45px;
    color: #383838;
    text-align: center;
    font-weight: 900;
    color: white;
}

.QuizC p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    color: #383838;
    text-align: center;
    font-weight: 600;
    color: white;
    width: 65%;
    text-wrap: pretty;
}

body {
    overflow: auto;
}



