* {
    font-family: Arial, Helvetica, sans-serif;
}

.MainHeading {
   font-size: 50px;
   margin-top: 5px;
   display: block;
   justify-content: center;
   align-items: center;
   color: white;
}
body {
  min-width: 100%;
  min-height: 100%;
  z-index: -1;  
  background-image: url("./public/Content/Background/bg3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: start;
  color: white;
}

.intro {
    display: flex;
    flex-direction: row;
    row-gap: 20px;
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 30px;
    backdrop-filter: blur(10px);
    background-color:rgba(0, 0, 0, 0.325);
}

.Mavenimg {
  width: 400px;
}
.introL {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 40%;
    padding: 10px;
}

.introR {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 40%;
    padding: 10px;
}

.introR h1:nth-child(1) { 
    margin-top: auto;
    color: white;

}

.introR h1 {
  margin-bottom: 20px;
  color: white;
}

.GetStarted {
  padding: 15px 25px;
  border: unset;
  border-radius: 15px;
  min-width: max-content;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 20px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 0.3s ease;
  overflow: hidden;
  box-shadow: 0px 0px 20px black;
  margin-top: auto;
  margin-bottom: 5%;
  margin-right: auto;
  transition: all 0.3s ease;
  cursor: pointer;
}

.GetStarted::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1; 
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 0.3s ease;
}

.GetStarted:hover {
  transform: scale(1.1); 
  color: #e8e8e8;
  box-shadow: 0px 0px 30px rgb(255, 255, 255);
}

.GetStarted:hover::before {
  width: 100%;
}


.Quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 60px auto;
    backdrop-filter: blur(10px);
    background-color:rgba(0, 0, 0, 0.325);
    border-radius: 30px;
    padding: 30px;
}

.Quote h1 {
    color: white;
    font-size: 30px;
    margin-bottom: 20px;
}

.Quote h2 {
    margin-bottom: auto ;
    font-size: 20px;
}

.Blocks1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px auto;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 80%;
    border-radius: 30px;
    backdrop-filter: blur(10px);
    background-color:rgba(0, 0, 0, 0.325);
    padding-bottom: 30px;
}
  
.Block1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  height: auto;
  padding: 10px;
  border-radius: 10px;
  transition: 0.3s;
}

.Block1img {
  height: 200px;
  border-radius: 20px;
  margin: 10px auto;
  width: 16rem;
  box-shadow: 0 0 20px;
  transition: all 0.3s;
}

.Block1text {
  box-sizing: border-box;
  width: 16rem;
  height: 1rem;
  margin: 12px auto;
  font-family: 'Text';
  font-size: 23px;
  color: white;
  text-align: center;
  font-weight: 1000;
}

.Block1img:hover {
  scale: 1.1;
  box-shadow: 0px 0px 30px white;
}

.ServicesC{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 0px;
  width: 60%;
  margin: 60px auto 20px auto;
  border-radius: 30px;
  backdrop-filter: blur(10px);
  background-color:rgba(0, 0, 0, 0.325);
  padding: 30px;
}

.ServicesC, h1 {
  font-family: 'Title';
  font-size: 35px;
  color: #383838;
  text-align: center;
  font-weight: 900;
  color: white;
}

.ServicesC p {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
  color: #383838;
  text-align: center;
  font-weight: 1000;
  color: white;
}

.Types {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  row-gap: 4rem;
  column-gap: 15rem;
  width: 80%;
  border-radius: 30px;
  transition: 0.3s;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  backdrop-filter: blur(10px);
  background-color:rgba(0, 0, 0, 0.325);
  padding: 30px;
}

.Type {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 200px;
  height: 250px; 
  transition: 0.2s ease-in-out;
  z-index: 0;
  margin: 20px;
}

.Type img {
  width: 200px;
  height: 300px;
  border-radius: 50%; 
  object-fit: cover; 
  box-shadow: 0px 0px 20px rgb(255, 255, 255);
  z-index: 0; 
}

.Type p {
  font-family: 'Text';
  font-size: 25px; 
  color: #ffffff;
  text-align: center;
  margin-top: 20px;
  width: 100%;
  height: 55px;
  z-index: 0;
}

.Type:hover {
  scale: 1.1;
  z-index: 0;
}

.TypesH:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 0px;
  width: 60%;
  margin: 20px auto;
  border-radius: 20px;
  font-size: 50px;
  z-index: 0;
}

.description {
    display: none; 
    position: absolute;
    background: rgb(0, 0, 0); 
    border-radius: 10px; 
    padding-left: 20px;
    padding-right: 20px;
    width: 50rem;
    height: auto;
    padding-bottom: 100px;
    z-index: 2; 
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
    top: 85%; 
    left: 50%;
    transform: translateX(-50%); 
}


.Type:hover .description {
    display: block;
}


.Type:hover ~ * {
    opacity: 0.2; 
}

.QuizC {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    align-items: center;
    width: 80%;
    margin: 60px auto;
    gap: 40px;
    border-radius: 30px;
    backdrop-filter: blur(10px);
    background-color:rgba(0, 0, 0, 0.325);
}

.QuizC h1 {
    font-family: 'Title';
    font-size: 45px;
    color: #383838;
    text-align: center;
    font-weight: 900;
    color: white;
}

.QuizC p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    color: #383838;
    text-align: center;
    font-weight: 600;
    color: white;
    width: 65%;
    text-wrap: pretty;
}

body {
    overflow: auto;
}

@media only screen and (max-width: 678px) {
  
  .MainHeading {
    width: 100% !important;
    margin-left: auto;
    margin-right: auto;
    font-size: 38px !important;
    margin-top: -30px !important;
  }

  .intro {
    width: 95% !important;
    border-radius: 15px !important;
  }

  .introL {
    width: 100% !important;
    padding: 0px !important;
    flex: 1 !important;
  }

  .introR h1 {
    font-size: 20px !important;
  }


  .Quote {
    width: 95% !important;
    margin: 30px auto !important;
    padding: 15px !important;
    border-radius: 15px !important;
  }

  .Quote h1 {
    font-size: 18px;
    padding: 0px !important;
    margin: 0px !important;
  }

  .Quote h2 {
    font-size: 14px;
    margin: 5px !important;
  }

  .GetStarted {
    font-size: 15px !important;
    padding: 10px 20px;
    margin: 10px auto;
    box-sizing: border-box;
  }
  
  .ServicesC {
    width: 95% !important;
    margin: 30px auto !important;
    margin-bottom: 15px !important;
    padding: 15px !important;
    text-wrap: pretty !important;
    border-radius: 15px !important;
  }

  .ServicesC h1 {
    font-size: 25px !important;
    margin-bottom: 10px !important;
  }

  .ServicesC p {
    font-size: 15px !important;
    font-weight: 600 !important;
  }

  .Blocks1 {
    margin-top: 15px !important;
    width: 95% !important;
    display: grid;
    grid-template: 1fr 1fr/1fr 1fr;
    gap: 0px;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    padding: 5px !important;
    margin-bottom: 15px !important;
    border-radius: 15px !important;
  }

  .Block1img {
    height: 100px !important;
    width: 140px !important;
  }

  .Block1text{
    margin-top: 0px;
    font-size: 15px !important;
    padding: 0px !important;
    width: 80% !important;
    box-sizing: border-box !important;
  }

  .TypesH {
    margin-top: 30px !important;
    font-size: 25px !important;
    margin-bottom: 15px !important;
    width: 100% !important;
  }

  .Types {
    width: 95% !important;
    display: flex;
    flex-direction: row;
    column-gap: 0px;
    justify-content: space-around;
    align-items: center;
    margin-top: 0px !important;
    margin-bottom: 30px !important;
    margin: inherit auto !important;
    box-sizing: border-box !important;
    border-radius: 15px !important;
  }

  .Type {
    width: 100px !important;
    height: 100px !important;
  }

  .Type img {
    width: 100px !important;
    height: 100px !important;
  }

  .Type p {
    font-size: 18px !important;
    margin-top: 10px !important;
    text-align: center !important;
    text-wrap: pretty !important;
    overflow: visible !important;
    height: auto !important;
    width: min-content !important;
    padding: 3px !important;
    box-sizing: border-box !important;
  }

  .description {
    background-color: black !important;
    position: absolute;
    width: 150px !important;
    z-index: 999 !important;
    overflow: scroll !important;
    height: 150px !important;
    font-size: 14px !important;
  }

  .QuizC {
    width: 95% !important;
    margin: 40px auto !important;
    gap: 15px !important;
    border-radius: 15px !important;
  }

  .QuizC h1 {
    font-size: 25px !important;
    margin: 0px !important;
  }

  .QuizC p {
    font-size: 18px !important;
    width: 100% !important;
    margin: 0px !important;
  }

  .social-icon,.menu {
    padding: 0px !important;
    justify-content: center !important;
    text-align: center !important;
    display: grid;
    grid-template: 1fr 1fr/1fr 1fr;
    gap: 10px;  
  }
}